
<div ng-controller="TopController">
    <div class="container">

        <div class="row">
            <div class="col-md-12 not-clickable">
                <div class="topHeader">
                    <h1 id="title-text">SERIOUSLY BRUTAL</h1>
                    <h3><span class="rotate">ARENA | WORLD PVP | RATED BATTLEGROUNDS | PROGRESSION RAIDING</span></h3>
                </div>
            </div>
        </div><!-- .row -->
        <div class="row">
            <a href="#profile">
                <div class="mouse-icon">
                    <div class="wheel"></div>
                </div>
            </a>
        </div>
    </div><!-- .container -->
</div>
